
.courseText{
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.course{
    background-color: white;
    border:none;
    max-height: max-content;
    height: 400px;
    max-width: 275px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.instructorName{
    font-size: small;
    color: #6a6f73;
}
.course a{
    text-decoration: none;
}
.course a:visited .instructorName{
    color: #6a6f73;
}
.course a:visited{
    color: black;
}
